<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Reset password</h1>
    <h2>{{user.firstname}} {{user.lastname}}</h2>
    <h3>You've requested a password reset, please click on "The link below" to reset your password.</h3>

    <p><a href="{{url}}/newpassword/{{user.id}}/{{user.pw_reset_key}}">The link below</a></p>
</body>
</html>